name: Build Staging Imags and Push to Dockerhub

on:
  push:
    branches:
      - staging

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2 
    
      - name: Setup Docker Buildx
        uses: docker/setup-buildx-action@v1
    
      - name: Login to Docker Hub
        run: docker login -u ${{ secrets.DOCKER_USERNAME }} -p ${{ secrets.DOCKER_PASSWORD }}
    
      - name: Build and push Docker image
        run: |
          cd ./build 
          cat<<EOF > ./src/backend/.env 
          MONGODB_URI=mongodb://root:dev_root_1209@mongodb:27017/
          JWT_SECRET=${{ secrets.JWT_SECRET }}
          PORT=8000
          EOF
          docker buildx create --use 
          docker buildx inspect default --bootstrap
          docker buildx build --push --platform linux/amd64,linux/arm64 -t ${{ secrets.DOCKER_USERNAME }}/devops-project-frontend -f docker/Dockerfile.frontend .
          docker buildx build --push --platform linux/amd64,linux/arm64 -t ${{ secrets.DOCKER_USERNAME }}/devops-project-backend -f docker/Dockerfile.backend .
  
  deploy-to-azure:
    runs-on: ubuntu-latest

    steps:
      - name: Azure Login
        uses: azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}
      