name: Build Production Images and Push to Dockerhub

on:
  push:
    branches:
      - main

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2 
    
      - name: Setup Docker Buildx
        uses: docker/setup-buildx-action@v1
    
      - name: Login to Docker Hub
        run: docker login -u ${{ secrets.DOCKER_USERNAME }} -p ${{ secrets.DOCKER_PASSWORD }}
    
      - name: Build and push Docker image
        run: |
          cd ./build 
          cat<<EOF > ./src/backend/.env 
          MONGODB_URI=mongodb://root:dev_root_1209@mongodb:27017/
          JWT_SECRET=${{ secrets.JWT_SECRET }}
          PORT=8000
          EOF
          docker buildx create --use 
          docker buildx inspect default --bootstrap
          docker buildx build --push --platform linux/amd64,linux/arm64 -t ${{ secrets.DOCKER_USERNAME }}/devops-project-frontend:staging -f docker/Dockerfile.frontend .
          docker buildx build --push --platform linux/amd64,linux/arm64 -t ${{ secrets.DOCKER_USERNAME }}/devops-project-backend:staging -f docker/Dockerfile.backend .
  
  deploy-to-production:
    runs-on: ubuntu-latest
    needs: build-and-push

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2 
        
      - name: Apply Kubernetes deployment files
        uses: actions-hub/kubectl@master
        env:
          KUBE_CONFIG: ${{ secrets.KUBE_CONFIG }}
        with: 
          args: apply -f ./build/k8s/

      - name: Wait for pods to be ready
        uses: actions-hub/kubectl@master
        env:
          KUBE_CONFIG: ${{ secrets.KUBE_CONFIG }}
        with: 
          args: wait --for=condition=Ready pod --all --timeout=300s


          